---
import logoUrl from '../assets/logo_O_v6_split.svg?url';
---

<header class="site-header">
  <div class="container site-header__inner">
    <a href="/" class="site-header__logo">
      <img src={logoUrl} alt="ODATANO" height="56" />
    </a>
    <nav class="site-header__nav">
      <div class="nav-links">
        <a href="/docs/quick-start/">Docs</a>
        <a href="https://github.com/ODATANO/ODATANO" target="_blank" rel="noopener">GitHub</a>
      </div>
      <a href="/docs/quick-start/" class="btn btn--primary">Get Started</a>
    </nav>
  </div>
</header>
